%tr
  %td.category_results{colspan: 4 }
    %table.table.nested-table
      %thead
        %tr
          %th #
          %th Name
          %th Description
          %th Vendor ID
          %th Storage
          %th Quantity

      %tbody
        =render results