%table.table.table-hover
  %thead
    %tr
      %th #
      %th Name
      %th Positions found
      %th Total items quantity

  %tbody
    -categories.each.with_index do |category, i|
      %tr.category.clickable
        %td= i + 1
        %td= category.name
        %td= category.doc_count
        %td= category.quantity
        %td.hidden= link_to 'see all',{ controller: :home, action: :search_in_category, category: category.name, query: params[:query], link_id: category.object_id, remote: true }, id:category.object_id
