#search-container
  #search-form
    = form_tag search_path, method: 'GET', remote: true do
      .col-lg-12
        .input-group
          = text_field_tag :query, params[:query], class: 'form-control'
          %label#search-button.input-group-addon.clickable
            %span.glyphicon.glyphicon-search
            = button_tag '', name: nil, class: 'hidden'

  #loader
  #search-results
    = render 'search_result', categories: @categories unless @categories.blank?
