// set correct request URL in browser in order to get access to results, save link or share
history.pushState({}, '', '<%= request.fullpath %>');

<%if @categories.blank? %>
  $('#search-results').html('<%= j render "nothing_found" %>');
<% else %>
  $('#search-results').html('<%= j render "search_result", categories: @categories unless @categories.blank?%>');
<% end %>