%tr
  %td= storage_item_counter + 1
  %td= storage_item.product.name
  %td= storage_item.product.description
  %td= storage_item.product.vendor_id
  %td= storage_item.storage.name
  %td= storage_item.quantity